# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.bug-project-2021.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\_Bug\bug-project-2021\.idea\.idea.bug-project-2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
